# IDE
.idea/
.vscode/
*.iml
*.ipr
*.iws

# OS
.DS_Store
Thumbs.db
desktop.ini

# Flutter/Dart global
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/build/
**/.pub-cache/
**/.pub/

# Logs
*.log

# Environment
.env
.env.*
